body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('weather.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 50px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

h1 {
  color: #f10e0e;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: crimson;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

li:nth-child(odd) {
  background-color: #f9f9f9;
}

li:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

li button:hover {
  background-color: #c82333;
  color: yellow;
}
